.color_red {
    color :#E75B55;
}

.color_orange {
    color :#E48850;
}

.color_yellow {
    color :#d3a832;
}

.color_green {
    color :#6d9c37;
}

.color_cyan {
    color :#4bafa7;
}

.color_blue {
    color :#4590ce;
}

.color_violet {
    color :#ab70b6;
}

.color_gray {
    color :#999999;
}

.color_bridge {
    color :#7e7e7e;
}

.color_dark_gray {
    color :#666666;
}

.color_hand {
    color :#242424;
}

.color_jewel {
    color :#da8c9c;
}

.color_turn {
    color: #D87070;
}

.color_pull {
    color: #738DC2;
}

.gear_train5_explainer {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    padding: 0.2em 0.5em;
    width: 100%;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.8);
    display: none;
}

.loading_text {
    margin: 0 auto;
    color:#333;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    animation: flicker 2s infinite;
}

@keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
}

.drawer_container {
    max-width: 450px;
}

#credit_card_size {
    max-width: 520px;
}

#jewel {
    max-width: 350px;
}

#click_spring_flex {
    max-width: 400px;
}

#torsion_spring,
#torsion_spring2, 
#torsion_spring3 {
    max-width: 500px;
}

#gear_train2_seg0,
#gear_train3_seg0 {
    max-width: 300px;
    margin: 0 auto;
}

#gears_base2_seg0 {
    max-width: 400px;
    margin: 0 auto;
}

#mainspring_arbor_hook {
    max-width: 300px;
}

#stem_crown,
#winding_sliding_pinion,
#sliding_pinion_rotation {
    max-width: 400px;
}

.slider_assembly .slider_left_gutter,
.slider_assembly .slider_right_gutter,
.slider_assembly .slider_knob {
    background: #333;
}

.slider_crown_turn .slider_left_gutter,
.slider_crown_turn .slider_right_gutter,
.slider_crown_turn .slider_knob {
    background: #D87070;
}

.slider_crown_pull .slider_left_gutter,
.slider_crown_pull .slider_right_gutter,
.slider_crown_pull .slider_knob {
    background: #738DC2;

}

.slider_red .slider_left_gutter,
.slider_red .slider_right_gutter,
.slider_red .slider_knob {
    background: rgb(243, 86, 92);
}

.slider_orange .slider_left_gutter,
.slider_orange .slider_right_gutter,
.slider_orange .slider_knob {
    background: rgb(246, 142, 91);
}

.slider_yellow .slider_left_gutter,
.slider_yellow .slider_right_gutter,
.slider_yellow .slider_knob {
    background: rgb(237, 194, 73);
}

.slider_green .slider_left_gutter,
.slider_green .slider_right_gutter,
.slider_green .slider_knob {
    background: rgb(142, 194, 74);
}

.slider_cyan .slider_left_gutter,
.slider_cyan .slider_right_gutter,
.slider_cyan .slider_knob {
    background: rgb(61, 187, 172);
}

.slider_blue .slider_left_gutter,
.slider_blue .slider_right_gutter,
.slider_blue .slider_knob {
    background: rgb(79, 162, 229);
}

.slider_violet .slider_left_gutter,
.slider_violet .slider_right_gutter,
.slider_violet .slider_knob {
    background: #ab70b6;
}

.slider_gray .slider_left_gutter,
.slider_gray .slider_right_gutter,
.slider_gray .slider_knob {
    background :#bbbaba;
}
