---
layout: default
---
<article>
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <nav class="post-nav">
    {% if page.previous.url %}
    <a class="post-nav-prev" href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="post-nav-next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>
    {% endif %}
  </nav>
</article>
